@model Conferen_Visit.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Program</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/Style.css" />

</head>
<body>
    <div class="text-center">
        <h2>Программа конференції:</h2>

        <div>
            <p>
                Видеокурс по ASP.NET MVC 5<br />

                Глава 1. Введение в ASP NET MVC<br />

                Особенности ASP.NET MVC. Что нового в MVC 5<br />

                Начало работы с ASP.NET MVC 5<br />

                Глава 2. Создание первого приложения ASP.NET MVC 5<br />

                Создание проекта<br />

                Создание контроллера и представлений<br />

                Стилизация приложения<br />

                Глава 3. Контроллеры<br />

                Основы контроллеров<br />

                Методы действий и их параметры<br />

                Результаты действий<br />

                ViewResult и генерация представлений<br />

                Переадресация и отправка кодов статуса и ошибок<br />

                Отправка файлов в ASP.NET MVC 5<br />

                Контекст запроса HttpContext. Куки. Сессии<br />

                Асинхронные методы в ASP.NET MVC 5<br />

                Глава 4. Представления<br />

                Введение в представления<br />

                Строго типизированные представления<br />

                Мастер-страницы<br />

                Частичные представления<br />

                HTML-хелперы<br />

                Работа с формами<br />

                Строго типизированные хелперы<br />

                Глава 5. Модели<br />

                Модели и БД<br />

                Подключение к базе данных<br />

                Шаблонные хелперы<br />

                Редактирование данных<br />

                Добавление и удаление данных<br />

                Шаблоны формирования<br />

                Модели со сложной структурой<br />

                Работа со сложными моделями<br />

                Модели со связью многие-ко-многим<br />

                Работа с моделями со связью многие-ко-многим<br />

                Передача массивов и сложных данных в контроллер<br />

                Миграция баз данных<br />

                Создание пагинации<br />

                Переопределение шаблонов формирования<br />

                Переопределение шаблонов отображения и редактирования<br />

                Фильтрация данных<br />

                Domain Model и View Model<br />

                Управление иерархическими данными<br />
            </p>


            Реєстрація безкоштовна, але обов’язкова
        </div>
        <button class="btn btn-outline-secondary" style="color:white; text-decoration-color:white; background-color:#F97300">
            @Html.ActionLink("Піду", "RsvpForm")
        </button>
    </div>
</body>
</html>
